*{
	  padding:0px;
	  margin:0px;
  }

  /*--------navigation------*/
  #nav-bar{
   position:sticky;
   top:0;
   z-index:10;
 }

 .navbar-brand {

   padding-left:30px;
   font-family:cursive;
 }

 .navbar-brand img{
    height:55px;
 }

 .navbar-nav li{
   padding:0 10px;
   text-transform:uppercase;


 }

 .navbar-nav li a{
   float:right;
   text-align:left;
  }

  .navbar-nav li a:hover {
   color:red! important;
   background:#fff;
 }

 .navbar{
   background: skyblue;

 }
 /*---Home----*/
 .content h1{
	 background:black;
	 color:#fff;
	 font-size:1.2em;
	 margin-top:15px;
 }
 .content p{
	 font-size:1.1em;
	 margin-left:14px;
	 font-family:fort;
	 color:green;
 }
 /*----About----*/

 .content img{
	 width:100%;

 }

 .content h1{
	 text-align:center;
	 font-family:fort;
 }
 .content{
	 margin-left:20px;
	 font-family:fort;
 }

 /*---Donate---*/
 .content img{
	 width:100%;
	 height:345px;
 }

 /*----Join Us---*/
 .content img{
	 height:300px;
	 width:100%;
 }
 .give{
	 text-align: right;
	  background:brown;
		margin-top:40px;
 }

/*----Contact---*/
.Contact {
	
}

/*-- Footer Text --*/
.page-footer {
	background:#555;
	color:#fff;
	font-family:geogia;
}

.page-footer img{
	height:120px;
	float:left;
}
/*---socila-icons--*/
.social-icons {
  text-align: center;
  }  
.social-icons li {
  display:inline-block;
  list-style-type:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  }
.social-icons li a {
  border-bottom: none;
  }
.social-icons li img {
  width:70px;
  height:70px;
  margin-right: 20px;
}
.social-icons li a:hover, active{
	
}
